In [17]:
import pandas as pd #alias

In [18]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [2]:
s = pd.Series(["Ind", "Aus", "NZ", "US"])

In [3]:
type(s)

pandas.core.series.Series

In [4]:
len(s)

4

In [5]:
s

0    Ind
1    Aus
2     NZ
3     US
dtype: object

In [6]:
#pd.Series?
s = pd.Series([5,4,3,2],index = ["a", "b", "c", "d"]) #custom Index
s

a    5
b    4
c    3
d    2
dtype: int64

In [7]:
#from these data set creating a series
cities = ["Bengaluru", "Mysore", "Chennai","Hyderbad"]
cost = [50000,40000,35000,40000]

In [8]:
sales = pd.Series(cost, index = cities)
sales

Bengaluru    50000
Mysore       40000
Chennai      35000
Hyderbad     40000
dtype: int64

In [15]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390} #we define a dictionary 'calories'

#converts the dictionary calories into a Pandas Series object 
myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [16]:
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
'''assigns a subset of the original dictionary's keys as the indices for the series.This means only the values corresponding to "day1" and "day2" from the dictionary will be included in the series.'''
myvar = pd.Series(calories, index = ["day1", "day2"])
print(myvar)

day1    420
day2    380
dtype: int64

In [20]:
import pandas as pd

# From a list
s1 = pd.Series([1, 2, 3, 4, 5])

# From a dictionary
s3 = pd.Series({'a': 100, 'b': 200, 'c': 300})

# With custom index
s4 = pd.Series([1, 2, 3], index=['x', 'y', 'z'])

print(s1)
print(s3)
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    100
b    200
c    300
dtype: int64
x    1
y    2
z    3
dtype: int64

In [21]:
# By position
print(s1[0])  # Output: 1

# By label
print(s3['a'])  # Output: 100

# Slicing
print(s1[1:3])  # Output: 2, 3
print(s4['x':'y'])  # Output: x    1, y    2

1
100
1    2
2    3
dtype: int64
x    1
y    2
dtype: int64

In [24]:
# Addition
print(s1 + 2)  # Adds 2 to each element

# Subtraction
print(s3 - 10)  # Subtracts 10 from each element

# Multiplication
print(s1 * 2)  # Multiplies each element by 2

# Division
print(s1/ 10)  # Divides each element by 10

0    3
1    4
2    5
3    6
4    7
dtype: int64
a     90
b    190
c    290
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64
0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [27]:
print(s1.sum())  # Sum of all elements
print(s4.mean())  # Mean of all elements
print(s3.median())  # Median of all elements
print(s1.std())  # Standard deviation of all elements

15
2.0
200.0
1.5811388300841898

In [29]:
string = pd.Series(['apple', 'banana', 'cherry'])

# Convert to uppercase
print(string.str.upper())

# Check for substrings
print(string.str.contains('a'))

0     APPLE
1    BANANA
2    CHERRY
dtype: object
0     True
1     True
2    False
dtype: bool